<ion-header>
  <ion-toolbar>
    <ion-title>
      D'ffee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="profile">
      <div class="pic-container">
        <ion-img class="profile-picture" src="../../assets/profile-picture.jpg" ></ion-img>
      </div>
      <div class="info">
        <div class="name">Siti Aisya</div>
        <div class="phone">(+62)85856828453</div>
      </div>
      <div class="edit">
          <ion-icon name="create"></ion-icon>
      </div>
    </div>
    <div class="cut">
    </div>
  </div>



</ion-content>
