<ion-header>
  <ion-toolbar>
    <ion-title>
      D'ffee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="profile">
      <div class="pic-container">
        <ion-img class="profile-picture" src="../../assets/profile-picture.jpg" ></ion-img>
      </div>
      <div class="info">
        <div class="name">Siti Aisya</div>
        <div class="phone">(+62)85856828453</div>
      </div>
      <div class="edit">
          <ion-icon name="create"></ion-icon>
      </div>
    </div>
    <div class="cut">
    </div>
  </div>

  <ion-row class="form-container">

      <ion-col size="12">
          <ion-list mode="ios" lines="full" inset="false">
            <ion-item>
              <ion-icon  slot="start" name="person"></ion-icon>
              Account
              <ion-icon  slot="end" name="arrow-dropright"></ion-icon>
            </ion-item> 
            <ion-item>
              <ion-icon  slot="start" name="chatbubbles"></ion-icon>
              Cutomer Service
              <ion-icon  slot="end" name="arrow-dropright"></ion-icon>
            </ion-item> 
            <ion-item>
              <ion-icon  slot="start" name="cog"></ion-icon>
              App Settings
              <ion-icon  slot="end" name="arrow-dropright"></ion-icon>
            </ion-item> 
            <ion-item>
              <ion-icon  slot="start" name="log-out"></ion-icon>
              Logout
            </ion-item> 
          </ion-list>
      </ion-col>
    </ion-row>



</ion-content>
