

<ion-content>
  <ion-slides pager="true">
    <ion-slide class="step-one">
        <ion-img src="../../assets/poster-dffee-1.jpg"></ion-img>
        <h1>D'ffee For Coffee Lovers</h1>
        <p>We are here for all of coffee lovers around to world to bring joy and happiness and your most satisfaction caffein experience!</p>
    </ion-slide>

    <ion-slide class="step-two">
      <ion-img src="../../assets/poster-dffee-1.jpg"></ion-img>
        <h1>D'ffee For Coffee Maker</h1>
        <p>With us you can make your own taste of coffee with a touch of a screen, yes we are the first in Indonesia to bring this amazing service for you!</p>
    </ion-slide>

    <ion-slide class="step-three">
      <ion-img src="../../assets/poster-dffee-1.jpg"></ion-img>
        <h1>D'ffee For Your Experience</h1>
        <p>We have the finest coffee mix collection in our menu ready for you to enjoy!</p>
        <ion-button (click)="finish()">Get My Coffee!</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
