<ion-header>
  <ion-toolbar>
    <ion-title>
      D'ffee
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button class="button-cart">
        <ion-icon slot="icon-only" name="cart">
        </ion-icon>
        
        <ion-badge color="danger">{{cartCounter}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="menus">
      <div class="menu-card" [class.active]="our" (click)="activate(1)">
          <span>Our Finest Mix</span>
        <div class="tint-layer"></div>
      </div>
      <div class="menu-card"  [class.active]="make" (click)="activate(2)">
        <span>Make Your Own</span>
        <div class="tint-layer"></div>
      </div>
    </ion-row>
    <ion-row  [ngClass]="our ? '' : 'hide-box'" >
      <ion-col size="4" *ngFor="let item of menuItems; let i = index">
        <ion-card class="item-card">
          <div class="item-image" style="background-image:url('../../assets/poster-dffee-1.jpg')"></div>
          <div class="item">Ice Latte</div>
          <div class="item"><b>Rp{{i}}.000</b></div>
          <div class="card-subtitle"><ion-button shape="round" size="small" color="success" (click)="addCart()">+</ion-button></div>
        </ion-card>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
